body {
  font-family: Ubuntu;
}

code {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  padding: 9px;
}

.label {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 3px 5px 4px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
  font-size: 0.75em;
  left: 10px;
  top: -15px;
  position: relative;
}

div.box p, div.box ul {
  position: relative;
  top: -20px;
}

.box.moody .label {
  background-color: #F89406;
}

.box.happy .label {
  background-color: #46A546;
}

.box.angry .label {
  background-color: #C43C35;
}

div.box, code {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 0 5px;
  border: 1px solid #ccc;
  margin-bottom: 25px;
  font-size: 0.9em;
}

.angry {
  background-color: #FFD7D5;
  border-color: #C43C35;
}

.happy {
  background-color: #C0E0C0;
  border-color: #46a546;
}

.moody {
  background-color: #FFECD1;
  border-color: #F89406;
}

.clock {
  position: absolute;
  left: 5px;
  bottom: 5px;
  width: 60px;
  text-align: center;
  font-size: 0.7em;
}

li {
  margin-bottom: 4px;
}

li li {
  font-size: 0.89em;
  color: #252525;
}

.tt {
  font-family: courier;
  font-weight: bold;
  font-size: 0.85em;

}

.red {
  color: #fa0000;
}

.small {
  font-size: 0.5em;
}

.big {
  font-size: 1.2em;
}

.footnote {
  position: absolute;
  bottom: 3em;
}


